{
    "extension": [
      ".ts",
      ".tsx"
    ],
    "include": [
      "**/src/**/*.ts"
    ],
    "exclude": [
      "**/*.d.ts"
    ],
    "reporter": [
      "cobertura",
      "html",
      "json-summary",
      "json"
    ],
    "all": true
}