version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4

workflows:
  version: 2
  test-and-release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          matrix:
            parameters:
              os:
                - linux
              node_version:
                - latest
                - lts
                - maintenance
      - release-management/test-nut:
          name: nuts-on-linux
          sfdx_version: latest
          requires:
            - release-management/test-package
      - release-management/release-package:
          github-release: true
          post-job-steps:
            - run: yarn ci-docs
          requires:
            - release-management/test-package
            - nuts-on-linux
          filters:
            branches:
              only: main
          context: CLI_CTC
