name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  yarn-lockfile-check:
    uses: salesforcecli/github-workflows/.github/workflows/lockFileCheck.yml@main
  # Since the Windows unit tests take much longer, we run the linux unit tests first and then run the windows unit tests in parallel with NUTs
  linux-unit-tests:
    needs: yarn-lockfile-check
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsLinux.yml@main
  windows-unit-tests:
    needs: linux-unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsWindows.yml@main
  nuts:
    needs: linux-unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        externalProjectGitUrl:
          - https://github.com/salesforcecli/plugin-config
          - https://github.com/salesforcecli/plugin-alias
          - https://github.com/salesforcecli/plugin-auth
          - https://github.com/salesforcecli/plugin-limits
          - https://github.com/salesforcecli/plugin-schema
          - https://github.com/salesforcecli/plugin-env
          - https://github.com/salesforcecli/plugin-org
          - https://github.com/salesforcecli/plugin-login
    with:
      packageName: '@salesforce/core'
      externalProjectGitUrl: ${{ matrix.externalProjectGitUrl }}
      command: 'yarn test:nuts'
      os: ${{ matrix.os }}
      useCache: false
    secrets: inherit
  # hidden until we fix source-testkit to better handle jwt
  # deployRetrieveNuts:
  #   needs: unit-tests
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: ['windows-latest-16x', 'ubuntu-latest-16x']
  #       command:
  #         - yarn test:nuts:deploy:metadata:manifest
  #         - yarn test:nuts:deploy:metadata:metadata
  #         - yarn test:nuts:deploy:metadata:source-dir
  #         - yarn test:nuts:deploy:metadata:test-level
  #         - yarn test:nuts:static
  #   with:
  #     packageName: '@salesforce/core'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
  #     command: ${{ matrix.command }}
  #     os: ${{ matrix.os }}
  #   secrets: inherit
